body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );
}

label {
  font-size: 14px !important;
  font-weight: 500 !important;
}
::placeholder {
  font-size: 12px;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

table {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
header {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-danger {
  font-size: 12px;
}
