body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f3f4;
  font-family: "Poppins", sans-serif;
}

.card {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 25%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 1rem;
}

img {
  border-radius: 3rem;
  width: 100px;
}
